/* Warna Khusus Garmen (Misal: Nuansa Merah Marun atau Ungu agar variatif) */
.garmen-bg {
    background: linear-gradient(rgba(102, 0, 51, 0.8), rgba(102, 0, 51, 0.8)), 
                url('https://images.unsplash.com/photo-1555529669-e69e7aa0ba9a?auto=format&fit=crop&q=80&w=1000') no-repeat center center/cover;
}

.status-badge {
    background: #28a745;
    color: white;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.detail-text h2, .detail-text h3 {
    color: #660033;
    margin-bottom: 15px;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}